/* Reset properties */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
main,
h1, h2, h3,
p {
    margin: 0;
}

/* Custom Properties */
  :root {
    
    font-size: 10px;
    --fs-1-desktop: 8.8rem;                                 /* fs = font size */
    --fs-1-tablet: 6.4rem;
    --fs-1-mobile: 4.0rem;
    --fs-2-desktop: 4.0rem;
    --fs-2-mobile: 3.2rem;
    --fs-p-desktop: 2.0rem;
    --fs-p-tablet: 1.8rem;
    --fs-p-mobile: 1.6rem;
    --fs-p2-mobile: 1.8rem;
    --lh-h1-desktop: 8.8rem;                                 /* lh = line height */
    --lh-h1-tablet: 6.4rem;
    --lh-h1-mobile: 4.8rem;
    --lh-h2-desktop: 5.2rem;
    --lh-h2-tablet: 4.0rem;
    --lh-h2-mobile: 4.0rem;
    --lh-p-desktop: 3.4rem;
    --lh-p-tablet: 2.8rem;
    --lh-p-mobile: 2.6rem;
    --ls-h1: -1px;                                  /* ls = letter spacing */
    --ff: 'IBM Plex Sans', sans-serif;
    --fw-l: 300;
    --fw-r: 400;
    --fw-b: 700;
    
    --primary-clr-cy: #66E2DC;          /* Cyan - active iOS button*/
    --primary-clr-bo: #FA7453;          /* Burnt Orange - price card background*/
    --primary-clr-oy: #FFB964;          /* Orange Yellow - active android button */
    --secondary-clr-w: #FCFAF9;         /* white-ish - background, android button*/
    --secondary-clr-bk: #191826;        /* Black-ish - section backgroun, iOS button*/
  
    --spacer: 1rem;
    --spacer-md: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 3);
    
    --shadow: 0 0 1em rgba(0,0,0, .25);
    --br: 5px;
    
  }
/* General styles */
body {
    cursor: default;
    position: relative;
}
img {
    max-width: 100%;
}
.main__top-pattern {
    display: none;
}
/* .content {
    position: absolute;     USE THIS once you get to the footer layout       
    z-index: 1;
} */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--ff);
    font-size: var(--fs-p-tablet);
    font-weight: var(--fw-b);
    line-height: 3.2rem;
    text-decoration: none;
    border-radius: 1em;
    margin: .4em;
    padding: 1em 0;
}
/* General typography */
h1 {
    font-family: var(--ff);
    font-size: var(--fs-1-mobile);
    font-weight: var(--fw-b);
    line-height: var(--lh-h1-mobile);
    letter-spacing: var(--ls-h1);
}
h2 {
    font-family: var(--ff);
    font-size: var(--fs-2-mobile);
    font-weight: var(--fw-b);
    line-height: var(--lh-h2-mobile);
    color: var(--secondary-clr-w);
}
.p1 {
    font-family: var(--ff);
    font-size: var(--fs-p-mobile);
    font-weight: var(--fw-r);
    line-height: var(--lh-p-mobile);
}
.p2 {
    font-family: var(--ff);
    font-size: var(--fs-p2-mobile);
    font-weight: var(--fw-l);
    line-height: var(--lh-p-mobile);
    color: var(--secondary-clr-w);
}

@media (min-width: 600px) {
    h1 {
        font-family: var(--ff);
        font-size: var(--fs-1-tablet);
        font-weight: var(--fw-b);
        line-height: var(--lh-h1-tablet);
        letter-spacing: var(--ls-h1);
    }
    h2 {
        font-family: var(--ff);
        font-size: var(--fs-2-tablet);
        font-weight: var(--fw-b);
        line-height: var(--lh-h2-tablet);
    }
    .p1 {
        font-family: var(--ff);
        font-size: var(--fs-p-tablet);
        font-weight: var(--fw-r);
        line-height: var(--lh-p-tablet);
    }
    .p2 {
        font-family: var(--ff);
        font-size: var(--fs-p-tablet);
        font-weight: var(--fw-r);
        line-height: var(--lh-p-tablet);
    }
}

@media (min-width: 1100px) {
    h1 {
        font-family: var(--ff);
        font-size: var(--fs-1-desktop);
        font-weight: var(--fw-b);
        line-height: var(--lh-h1-desktop);
        letter-spacing: var(--ls-h1);
    }
    h2 {
        font-family: var(--ff);
        font-size: var(--fs-2-desktop);
        font-weight: var(--fw-b);
        line-height: var(--lh-h2-desktop);
    }
    .p1 {
        font-family: var(--ff);
        font-size: var(--fs-p-desktop);
        font-weight: var(--fw-r);
        line-height: var(--lh-p-desktop);
    }
    .p2 {
        font-family: var(--ff);
        font-size: var(--fs-p-desktop);
        font-weight: var(--fw-r);
        line-height: var(--lh-h1-desktop);
    }
}

/* Background images */
.main__background-img {
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/bg-main-mobile.png) 2rem -20.5rem no-repeat;
}
@media (min-width: 600px) {
    .main__background-img {
        position: absolute;
        z-index: -1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(./assets/bg-pattern-1.svg) 50rem -4.2rem no-repeat, url(./assets/bg-main-tablet.png) -38rem -25.5rem no-repeat;
        background-size: 266px, auto;
    }
}
@media (min-width: 1100px) {
    .main__background-img {
        position: absolute;
        z-index: -1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(./assets/bg-main-desktop.png) 2rem -20.5rem no-repeat;
    }
}

/* Containers */
@media (max-width: 374px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 374px) {
    .container {
      width: 100%;
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
}  
@media (min-width: 600px) {
    .container {
        width: 97.6%;
        margin: 0 auto;
    }
}
@media (min-wdith:1100) {
    .container {
        width: 77%;
    }
}

/* Header */
.header {
    padding-top: 3rem;
}
@media (min-width: 600px) {
    .header {
        padding-top: 6.2rem;
    }
}
/* Hero/intro */
.hero-intro {
    padding-top: 6.4rem;
}
.intro__para {
    margin-top: 2rem;
}

@media (min-width:600px) {
    .intro__header {
        padding-top: 1.5rem;
        width: 67%;
    }
    .intro__para {
        width: 73%;
    }
}
/* Content/eq section */
.content__wrapper {
    background: url(assets/bg-pattern-2.svg) no-repeat
        var(--secondary-clr-bk); /* DON'T use "background-image", just "background"*/
    background-size: auto 70%;
    background-position: center top;
    position: relative;
    height: 60rem;
    margin-top: 16.6rem;
    margin-bottom: 31rem;
    margin-left: 0;
    margin-right: 0;
    border-radius: 1.2rem;
    background-position-x: center;
    background-position-y: top;
}
@media (min-width: 600px) {
    .content__wrapper {
        margin-top: 26.6rem;
    }
}
.app-illustration {
    max-width: 209px;
    position: absolute;
    top: -10.5rem;
    left: 7%;
}
@media (min-width: 600px) {
    .app-illustration {
        max-width: 27rem;
    }
}
.app-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action-card {
    background-color: var(--primary-clr-bo);
    top: 38rem;
    position: absolute;
    border-radius: 1.2rem;
    padding: 4.8rem 3.5rem;
}
.action-card__price span {
    font-family: var(--ff);
    font-size: 6.5rem;
    font-weight: var(--fw-b);
    line-height: 5.2rem;
    color: var(--secondary-clr-w);
    margin-right: 1.8rem
}
.action-card__price {
    font-family: var(--ff);
    font-size: 2rem;
    font-weight: var(--fw-l);
    line-height: 3.2rem;
    color: var(--secondary-clr-w);
    display: flex;
    align-items: center;
    margin: 4.8rem 0 0 1rem;
}
.action-card_ios-btn {
    background-color: var(--secondary-clr-bk);
    color: var(--secondary-clr-w);
    margin: 3rem 0 1.6rem 0;
}
.action-card_android-btn {
    background-color: var(--secondary-clr-w);
    color: var(--secondary-clr-bk);
    margin: 0;
}
.btn-icon {
    width: 2rem;
    height: 2rem;
    margin-right: .8rem;
}
@media (max-width: 376px) {
    .content.container {
      width: 100%;
      padding: 0;
    }
}
 
/* Footer */
/* I have chosen to make footer__container margin-top the margin that positions the footer. This doesn't need to be the case because you can use the content wrapper. The tablet and desktop versions may influence the final element margin decision */
.footer__container {
    margin-top: 38rem;
    margin-bottom: 15rem;
    height: 16.4rem;
    display: flex;
    flex-direction: column;
}
.footer span {
    font-family: var(--ff);
    font-size: var(--fs-p-mobile);
    line-height: var(--lh-p-mobile);
}
.social-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.email {
    color: var(--secondary-clr-bk);
    text-decoration: none;
}
.footer__li + .footer__li {
    margin-left: 2rem;
}