/* To-do list
_ I was up to adjusting the main header and header spacing

*/

/* Reset properties */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
main,
h1, h2, h3,
p {
    margin: 0;
}

/* Custom Properties */
  :root {
    
    font-size: 10px;
    --fs-1-desktop: 8.8rem;                                 /* fs = font size */
    --fs-1-tablet: 6.4rem;
    --fs-1-mobile: 4.0rem;
    --fs-2-desktop: 4.0rem;
    --fs-2-mobile: 3.2rem;
    --fs-p-desktop: 2.0rem;
    --fs-p-tablet: 1.8rem;
    --fs-p-mobile: 1.6rem;
    --lh-h1-desktop: 8.8rem;                                 /* lh = line height */
    --lh-h1-tablet: 6.4rem;
    --lh-h1-mobile: 4.8rem;
    --lh-h2-desktop: 5.2rem;
    --lh-h2-tablet: 4.0rem;
    --lh-h2-mobile: 4.0rem;
    --lh-p-desktop: 3.4rem;
    --lh-p-tablet: 2.8rem;
    --lh-p-mobile: 2.6rem;
    --ls-h1: -1px;                                  /* ls = letter spacing */
    --ff: 'IBM Plex Sans', sans-serif;
    --fw-r: 400;
    --fw-b: 700;
    
    --primary-clr-cy: #66E2DC;          /* Cyan - active iOS button*/
    --primary-clr-bo: #FA7453;          /* Burnt Orange - price card background*/
    --primary-clr-oy: #FFB964;          /* Orange Yellow - active android button */
    --secondary-clr-w: #FCFAF9;         /* white-ish - background, android button*/
    --secondary-clr-bk: #191826;        /* Black-ish - section backgroun, iOS button*/
  
    --spacer: 1rem;
    --spacer-md: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 3);
    
    --shadow: 0 0 1em rgba(0,0,0, .25);
    --br: 5px;
    
  }
/* General styles */
body {
    cursor: default;
    position: relative;
}
img {
    max-width: 100%;
}

.main__top-pattern {
    display: none;
}
.content {
    position: absolute;
    z-index: 1;
}

.btn {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: var(--ff);
    font-size: var(--fs-p-tablet);
    font-weight: var(--fw-b);
    line-height: 3.2rem;
    text-decoration: none;
    border-radius: 1em;
    margin: .4em;
    padding: 1em 0;
}

/* General typography */
h1 {
    font-family: var(--ff);
    font-size: var(--fs-1-mobile);
    font-weight: var(--fw-b);
    line-height: var(--lh-h1-mobile);
    letter-spacing: var(--ls-h1);
}
h2 {
    font-family: var(--ff);
    font-size: var(--fs-2-mobile);
    font-weight: var(--fw-b);
    line-height: var(--lh-h2-mobile);
    color: var(--secondary-clr-w);
}
.p1 {
    font-family: var(--ff);
    font-size: var(--fs-p-mobile);
    font-weight: var(--fw-r);
    line-height: var(--lh-p-mobile);
}
.p2 {
    font-family: var(--ff);
    font-size: var(--fs-p-mobile);
    font-weight: var(--fw-r);
    line-height: var(--lh-p-mobile);
    color: var(--secondary-clr-w);
}

@media (min-width: 600px) {
    /* General typography */
    h1 {
        font-family: var(--ff);
        font-size: var(--fs-1-tablet);
        font-weight: var(--fw-b);
        line-height: var(--lh-h1-tablet);
        letter-spacing: var(--ls-h1);
    }
    h2 {
        font-family: var(--ff);
        font-size: var(--fs-2-tablet);
        font-weight: var(--fw-b);
        line-height: var(--lh-h2-tablet);
    }
    .p1 {
        font-family: var(--ff);
        font-size: var(--fs-p-tablet);
        font-weight: var(--fw-r);
        line-height: var(--lh-p-tablet);
    }
    .p2 {
        font-family: var(--ff);
        font-size: var(--fs-p-tablet);
        font-weight: var(--fw-r);
        line-height: var(--lh-p-tablet);
    }
}

@media (min-width: 900px) {
    /* General typography */
    h1 {
        font-family: var(--ff);
        font-size: var(--fs-1-desktop);
        font-weight: var(--fw-b);
        line-height: var(--lh-h1-desktop);
        letter-spacing: var(--ls-h1);
    }
    h2 {
        font-family: var(--ff);
        font-size: var(--fs-2-desk--fs-1-desktop);
        font-weight: var(--fw-b);
        line-height: var(--lh-h2-desktop);
    }
    .p1 {
        font-family: var(--ff);
        font-size: var(--fs-p-desk--fs-1-desktop);
        font-weight: var(--fw-r);
        line-height: var(--lh-p-desktop);
    }
    .p2 {
        font-family: var(--ff);
        font-size: var(--fs-p-desktop);
        font-weight: var(--fw-r);
        line-height: var(--lh-h1-desktop);
    }
}

/* Containers */
.container {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 374px) {
    .container {
      width: 90%;
    }
}
@media (min-width: 374px) {
    .container {
      width: 100%;
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
}
  @media (min-width: 700px) {
    .container {
      width: 696px;
      padding-left: 0rem;
      padding-right: 0rem;
    }
}
  @media (min-width: 992px) {
    .container {
      width: 960rem;
    }
}
  @media (min-width: 1200px) {
    .container {
      width: 1110rem;
    }
}

/* Background */
/* .main__background-img {
    width: 100%;
    display: block;
    position: absolute;
    margin: -15em 13em;
} */
.main__background-img {
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/bg-main-mobile.png) 2rem -20.5rem no-repeat;
}

/* Header */
header {
    height: 7.2rem;
    display: flex;
    align-items: flex-end;
}
@media (min-width: 700px) {
    .header__container {
      height: 9.4rem;
    }
}

/* Intro */
.intro {
    padding-bottom: 15em;
}
.intro__header {
    margin-bottom: .6em;
}
/* App illustration */
.app-illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-clr-bk);
    border-radius: 1em;
}
.app-illustration__bg-pattern {
    width: 76%;
}
.app-img {
    width: 56%;
    display: block;
    position: absolute;
    margin: -9em 0em;
}
/* Action card section */
.action-card {
    display: block;
    position: absolute;
    margin: -4em 0;
    background-color: var(--primary-clr-bo);
    border-radius: 1em;
    padding: 4em 3.5em;
    padding: 2.3em 3.5em 4em 3.5em;
}

.action-card__header {
    margin: .7em 0;
}

.action-card__price {
    display: flex;
    align-items: center;
    color: var(--secondary-clr-w);
    font-family: var(--ff);
    margin: 1.8em 0;
}

.action-card p {
    font-size: var(--fs-p-tablet);
}
.action-card span {
    font-size: var(--fs-1-tablet);
    line-height: var(--lh-h1-tablet);
    font-weight: var(--fw-b);
    margin: 0 1rem;
}
.action-card__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.action-card_ios-btn {
    background-color: var(--secondary-clr-bk);
    color: var(--secondary-clr-w);
}
.action-card_android-btn {
    background-color: var(--secondary-clr-w);
    color: var(--secondary-clr-bk);
}
.btn-icon {
    width: 1.2em;
    height: 1.5em;
    margin-right: .5em;
}
/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 47em;
    justify-self: center;
}
.footer-logo {
    margin-bottom: 3em;
}
.footer__email {
    text-decoration: none;
    font-family: var(--ff);
    font-size: var(--fs-p-mobile);
    font-weight: var(--fw-b);
    line-height: 1.5;
    color: var(--secondary-clr-bk);
    margin-bottom: 3em;
}
.social-links {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
